$white-color : #fff;
$light-grey-color : #f3f4f6;
$text-grey-color : #b9bec6;
$text-light-black-color : #464e5a;
$light-blue : #817cdf;
$light-orange : #f9a267;
$light-teal : #38b7d3;

$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;