.main {
  display: flex;
  min-height: 83vh;
  width: 100%;
  .left {
    flex: 8;
    .cardContainer {
      display: flex;
      gap: 20px;
    }
    .tasks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 18px 0;
      .title {
        font-weight: 600;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #817cdf;
        border: none;
        color: #fff;
        border-radius: 18px;
        padding: 6px 12px;
        font-size: 0.7rem;
        font-weight: 600;
        cursor: pointer;
      }
      button:hover {
        background-color: #f48942;
        transition: 300ms;
      }
    }
    .taskCards {
      padding: 2% 0;
      gap: 10px;
      display: flex;
      flex-direction: column;
      height: 50%;
      .noTask{
        margin: auto;
      }
    }
  }
  .right{
    flex: 2;
  }

}
