.selectContainer{
    select{
        background: #439760;
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 0.9rem;
        border: none;
        cursor: pointer;
        outline: none;
    }
}