.textarea {
  min-height: 40px;
  height: 100px;
  border-radius: 2px;
  width: 100%;
  min-width: 18rem;
  border: none;
  outline: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  resize: none;
}
